# Ignore virtual environments in backend and client
backend/venv/
client/venv/

# Ignore node_modules in frontend
frontend/node_modules/

# (Optional) Ignore all __pycache__ and other temp files
**/__pycache__/
*.pyc
